<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="NumeFisierInchirieri" value="Inchirieri.txt"/>
		<add key="NumeFisierMasini" value="Masini.txt"/>
	</appSettings>
</configuration>